<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>SuccuRoom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="~/Home/Index"><img class="logo" src="~/images/logo.svg" alt="logo"></a>
            <ul class="menu">

                <li><a class="text-anim" href="#">Главная</a></li>
                <li>
                    <div class="text-anim"><a class="katalog" href="~/Catalog/Catalog">Каталог</a><img id="tick" src="~/images/tick.svg"></div>
                    <ul class="catalog-list">
                        <li><a href="#">Крассулы</a></li>
                        <li><a href="#">Эхиверии</a></li>
                        <li><a href="#">Граптоверии</a></li>
                        <li><a href="#">Седумы</a></li>
                    </ul>
                </li>
                <li><a class="text-anim" href="#">О нас</a></li>

                <div class="vk-ref">
                    <img src="~/images/vk.svg" alt="vk-logo">
                    <a href="https://vk.com/succulent_room">SucculentRoom</a>
                </div>
                <div class="user-and-cart">
                    <img class="user-logo" src="~/images/user.svg" alt="user-logo">
                    <img class="cart-logo" src="~/images/shopping-cart.svg" alt="shopping-cart-logo">
                </div>
            </ul>
        </div>

    </div>

      @RenderBody()

    <footer class="footer_container">

        <img class="footer_logo" src="~/images/footer-logo.svg" alt="">
        <h3>2022</h3>
        <img src="~/images/copyright.svg" alt="">
        <h3>© Все права защищены</h3>

    </footer>

</body>
</html>